:root{
    --bheight: 100%;
    --cubeWidth: 100%;
    --ztranslation-distance-w: 30px;
    --ztranslation-distance-h: 30px;
    --ztranslation-distance: 5px;
}

*,*::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 25em;
    font-size: 24px;
}

#scene{
    position: relative;
    transform-style: preserve-3d;
    caret-color: transparent;
    transform: rotateX(345deg) rotateY(345deg);
}

#calc-container{
    position: absolute;
    background-color: lightcyan;
    height: 20em;
    width: 12em;
    left: -6em;
    bottom: -10em;
    transform-style: preserve-3d;
}

#calc-container > .front, #calc-container > .right, #calc-container > .back,#calc-container > .left,#calc-container > .top,#calc-container > .bottom{
    position: absolute;
    height: 100%;
    background-color: lightcyan;

}

#calc-container > .front, #calc-container > .back{
    width: 100%;
}

#calc-container > .front{
    transform: translateZ(1em);
    background-color: rgb(0, 128, 128);
    transform-style: preserve-3d;
}
#calc-container > .back{
    transform: rotateY(180deg) translateZ(1em);
    background-color: rgb(0, 158, 158);
}
#calc-container > .right, #calc-container > .left{
    background-color: rgb(0, 158, 158);
    width: calc((2/12)*100%);
}

#calc-container > .right{
    transform: rotateY(90deg) translateZ(11em);
}
#calc-container > .left{
    transform: rotateY(270deg) translateZ(1em);
}


#calc-container > .top, #calc-container > .bottom{
    background-color: rgb(0, 158, 158);
    width: 100%;
    height: 2em;
}
#calc-container > .top{
    transform: rotateX(90deg) translateZ(1em);
}

#calc-container > .bottom{
    transform: rotateX(270deg) translateZ(19em);
}

#screen-container{
    height: 30%;
    width: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen-history, .screen{
    background-color: aliceblue;
    width: 90%;
    font-family: 'Orbitron';
    display: flex;
    align-items: end;
    justify-content: end;
}

.screen-history{
    font-size: 80%;
    width: 90%;
    flex: 0.3;
    color: #000b;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.screen{
    background-color: aliceblue;
    flex: 0.6;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#keypad-container{
    position: absolute;
    width: 100%;
    height: 70%;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;

}
#keypad{
    transform-style: preserve-3d;
    background-color: lightblue;
    width: 100%;
    height: 98%;
    gap: .25em;
    display: grid;
    grid-template-areas: 
    "clear div multi min"
    "n7 n8 n9 plus"
    "n4 n5 n6 plus"
    "n1 n2 n3 equals"
    "zero0 zero0 deci equals";
    grid-template-columns: repeat(auto-fit, 60px);
    grid-template-rows: repeat(auto-fit,60px);
    justify-content: end;
}
#keypad > div{
    background-color: aliceblue;
    transform-style: preserve-3d;
}
#keypad > div:not(.num), 
#keypad > .num > div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.buttonCube{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    width: 100%;
    height: 5px;
    transform: rotateX(-90deg) translateY(-50%);
}
.buttonCube > .front{
    position: absolute;
    width: var(--cubeWidth);
    height: 100%;
    background-color: rgb(114, 159, 173);
}
 .buttonCube >.back{
    position: absolute;
    width: var(--cubeWidth);
    height: 100%;
    background-color: rgb(114, 159, 173);
}

.buttonCube > .right{
    position: absolute;
    width: var(--cubeWidth);
    height: 100%;
    background-color: rgb(114, 159, 173);
}

.buttonCube >.left{
    position: absolute;
    width: var(--cubeWidth);
    height: 100%;
    background-color: rgb(114, 159, 173); 
}


.buttonCube > .front {
    transform: translateZ(var(--ztranslation-distance-h));
}
.buttonCube > .right {
    transform: rotateY(90deg) translateZ(var(--ztranslation-distance-w));
}
.buttonCube > .back {
    transform: rotateY(180deg) translateZ(var(--ztranslation-distance-h));
}
.buttonCube > .left {
    transform: rotateY(270deg) translateZ(var(--ztranslation-distance-w));
}

.buttonCube > .top {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color: rgba(154,192,205,1);
    transform: translateY(-50%) rotateX(90deg);
    top: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.click-animation{
    animation: clicker 0.25s linear;
}

@keyframes clicker {
    0%, 100%{ height: 5px; }
    50% { height: 0px; }
}

#camera-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 75px;
    display: grid;
    grid-template-areas: 
        "empty1 upA empty2"
        "leftA empty3 rightA"
        "empty4 downA empty5";
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

#camera-controls > button{
    position: absolute;
    caret-color: transparent;
}

.rightBTN{
    grid-area: rightA;
  }
.leftBTN{
    grid-area: leftA;
  }
.downBTN{
    grid-area: downA;
}
.upBTN{
    grid-area: upA;
}